<html>
    <head>
        <title>Kate blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">My blog about me</a></h1>
        </div>

        <div>
            <p>published: 18.08.2024, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Всем привет. Это мой первый пост.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Всем привет. Это мой второй пост.</p>
        </div>
    </body>
</html>